In [29]:
import pandas as pd

df = pd.read_csv('log0.csv')
df

,algorithm,visited_qty,generated_qty,path_size,path,start,target,cost_id,heuristic_id,cost,order
0,dijkstra,375,121,8,[[19 2][19 3][19 4][18 4][17 4][16 4][15 4][14...,[14 4],[19 2],0,-1,70,[0 1 2 3]
1,bfs,284,95,8,[[19 2][19 3][19 4][18 4][17 4][16 4][15 4][14...,[14 4],[19 2],0,-1,70,[0 1 2 3]
2,dfs,246,154,64,[[19 2][18 2][18 1][18 0][17 0][16 0][16 1][16...,[14 4],[19 2],0,-1,630,[0 1 2 3]
3,dijkstra,412,131,8,[[19 2][18 2][17 2][16 2][15 2][14 2][14 3][14...,[14 4],[19 2],1,-1,95,[0 1 2 3]
4,bfs,284,95,8,[[19 2][19 3][19 4][18 4][17 4][16 4][15 4][14...,[14 4],[19 2],1,-1,95,[0 1 2 3]
...,...,...,...,...,...,...,...,...,...,...,...
587,dfs,260,161,67,[[20 12][20 11][20 10][20 9][20 8][20 7][20 6]...,[16 10],[20 12],3,-1,647,[0 1 2 3]
588,dijkstra,25,16,3,[[2 20][2 21][3 21]],[3 21],[2 20],0,-1,20,[0 1 2 3]
589,bfs,8,6,3,[[2 20][2 21][3 21]],[3 21],[2 20],0,-1,20,[0 1 2 3]
590,dfs,3152,900,65,[[2 20][2 19][3 19][3 18][3 17][3 16][3 15][3 ...,[3 21],[2 20],0,-1,640,[0 1 2 3]
591,dijkstra,25,16,3,[[2 20][2 21][3 21]],[3 21],[2 20],1,-1,20,[0 1 2 3]

In [30]:
print(df.groupby('algorithm')['cost'].mean())

algorithm
bfs          205.370558
dfs         1810.928934
dijkstra     200.964646
Name: cost, dtype: float64

In [31]:
print(df.groupby('cost_id')['cost'].mean())

cost_id
0    671.000000
1    846.148649
2    762.448980
3    673.755102
Name: cost, dtype: float64

In [32]:
print(df.groupby("algorithm")["cost"].mean())

algorithm
bfs          205.370558
dfs         1810.928934
dijkstra     200.964646
Name: cost, dtype: float64

In [33]:
print(df.groupby('algorithm')['path_size'].mean())

algorithm
bfs          19.832487
dfs         166.664975
dijkstra     19.747475
Name: path_size, dtype: float64

In [34]:
print(df.groupby('algorithm')['visited_qty'].mean())

algorithm
bfs         1481.157360
dfs         1169.197970
dijkstra    1667.272727
Name: visited_qty, dtype: float64

In [35]:
print(df.groupby([ 'algorithm','cost_id'])['cost'].mean())

algorithm  cost_id
bfs        0           185.800000
           1           238.163265
           2           212.102041
           3           185.816327
dfs        0          1641.400000
           1          2078.979592
           2          1868.163265
           3          1658.632653
dijkstra   0           185.800000
           1           233.800000
           2           207.081633
           3           176.816327
Name: cost, dtype: float64

In [36]:
print(df.groupby(["algorithm", "cost_id"])["visited_qty"].mean())

algorithm  cost_id
bfs        0          1459.060000
           1          1488.673469
           2          1488.673469
           3          1488.673469
dfs        0          1198.940000
           1          1159.081633
           2          1159.081633
           3          1159.081633
dijkstra   0          1559.400000
           1          1560.060000
           2          1828.693878
           3          1725.326531
Name: visited_qty, dtype: float64

In [37]:
print(df.groupby(["algorithm", "cost_id"])["path_size"].mean())

algorithm  cost_id
bfs        0           19.580000
           1           19.918367
           2           19.918367
           3           19.918367
dfs        0          165.140000
           1          167.183673
           2          167.183673
           3          167.183673
dijkstra   0           19.580000
           1           19.580000
           2           19.918367
           3           19.918367
Name: path_size, dtype: float64