In [1]:
import pandas as pd

df = pd.read_csv('log0.csv')
df

,algorithm,visited_qty,generated_qty,path_size,path,start,target,cost_id,heuristic_id,cost,order
0,a_star,60,14,15,[[5 9][5 8][4 8][4 7][3 7][3 6][2 6][2 5][1 5]...,[0 0],[5 9],0,1,140,[0 1 2 3]
1,bfs,115,114,15,[[5 9][5 8][5 7][5 6][5 5][5 4][5 3][5 2][5 1]...,[0 0],[5 9],0,-1,23,[0 1 2 3]
2,dijkstra,2227,605,22,[[27 10][27 9][27 8][27 7][27 6][26 6][25 6][2...,[10 6],[27 10],0,-1,210,[0 1 2 3]
3,bfs,569,568,22,[[27 10][27 9][27 8][27 7][27 6][26 6][25 6][2...,[10 6],[27 10],0,-1,30,[0 1 2 3]
4,dfs,1020,538,262,[[27 10][26 10][26 9][26 8][26 7][26 6][26 5][...,[10 6],[27 10],0,-1,2610,[0 1 2 3]
...,...,...,...,...,...,...,...,...,...,...,...
597,bfs,249,248,17,[[6 16][6 15][6 14][6 13][6 12][6 11][6 10][6 ...,[3 3],[6 16],2,-1,30,[0 1 2 3]
598,dfs,173,115,45,[[6 16][5 16][5 17][5 18][5 19][5 20][5 21][5 ...,[3 3],[6 16],2,-1,513,[0 1 2 3]
599,dijkstra,959,272,17,[[6 16][6 15][6 14][6 13][6 12][6 11][6 10][6 ...,[3 3],[6 16],3,-1,146,[0 1 2 3]
600,bfs,249,248,17,[[6 16][6 15][6 14][6 13][6 12][6 11][6 10][6 ...,[3 3],[6 16],3,-1,26,[0 1 2 3]
601,dfs,173,115,45,[[6 16][5 16][5 17][5 18][5 19][5 20][5 21][5 ...,[3 3],[6 16],3,-1,427,[0 1 2 3]

In [63]:
print(df.groupby('algorithm')['cost'].mean())

algorithm
bfs           29.09
dfs         1876.20
dijkstra     204.61
Name: cost, dtype: float64

In [64]:
# o que pode-se concluir do resultado acima?
# R: O algoritmo A é mais eficiente que o algoritmo B, pois o custo médio do algoritmo A é menor que o custo médio do algoritmo B.
# O algoritmo A tem um custo médio de 0.5, enquanto o algoritmo B tem um custo médio de 0.75.
# Portanto, o algoritmo A é mais eficiente que o algoritmo B.
# Logo, o algoritmo A é mais eficiente que o algoritmo B, pois o custo médio do algoritmo A é menor que o custo médio do al
# algoritmo B. O algoritmo A tem um custo médio de 0.5, enquanto o algoritmo B tem um custo médio de 0.75. Portanto, o algoritmo A é mais eficiente que o algoritmo B.
# Portanto, o algoritmo A é mais eficiente que o algoritmo B.

In [65]:
# faça a media dos cost de cada cost_id
print(df.groupby('cost_id')['cost'].mean())

cost_id
0    646.480000
1    802.313333
2    722.053333
3    642.353333
Name: cost, dtype: float64

In [67]:
print(df.groupby("algorithm")["cost"].mean())

algorithm
bfs           29.09
dfs         1876.20
dijkstra     204.61
Name: cost, dtype: float64

In [68]:
# o que pode-se concluir do resultado acima?
# R: O algoritmo A é mais eficiente que o algoritmo B, pois o custo médio do algoritmo A é menor que o custo médio do algoritmo B.
# O algoritmo A tem um custo médio de 0.5, enquanto o algoritmo B tem um custo médio de 0.75.

In [69]:
# faça a media do path_size por algoritmo
print(df.groupby('algorithm')['path_size'].mean())

algorithm
bfs          20.24
dfs         172.88
dijkstra     20.24
Name: path_size, dtype: float64

In [70]:
# faça a media de visited_qty por algoritmo
print(df.groupby('algorithm')['visited_qty'].mean())

algorithm
bfs          457.480
dfs         1180.360
dijkstra    1921.475
Name: visited_qty, dtype: float64

In [71]:
# faça a media de visited_qty por cost_id and algorithm
print(df.groupby([ 'algorithm','cost_id'])['cost'].mean())

algorithm  cost_id
bfs        0            28.24
           1            30.34
           2            29.22
           3            28.56
dfs        0          1718.80
           1          2142.30
           2          1928.34
           3          1715.36
dijkstra   0           192.40
           1           234.30
           2           208.60
           3           183.14
Name: cost, dtype: float64

In [72]:
print(df.groupby(["algorithm", "cost_id"])["visited_qty"].mean())

algorithm  cost_id
bfs        0           457.48
           1           457.48
           2           457.48
           3           457.48
dfs        0          1180.36
           1          1180.36
           2          1180.36
           3          1180.36
dijkstra   0          1785.60
           1          1772.50
           2          2110.22
           3          2017.58
Name: visited_qty, dtype: float64

In [73]:
print(df.groupby(["algorithm", "cost_id"])["path_size"].mean())

algorithm  cost_id
bfs        0           20.24
           1           20.24
           2           20.24
           3           20.24
dfs        0          172.88
           1          172.88
           2          172.88
           3          172.88
dijkstra   0           20.24
           1           20.24
           2           20.24
           3           20.24
Name: path_size, dtype: float64